mycore-base/src/main/resources/mcrcommon-datamodel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- basic XML Schema components for mycore metadata objects
     used together with datamodel plugin version <= 0.7
     @deprecated
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:mcr="http://www.mycore.org/XMLSchema">
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink-2008-06.xsd" />
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml-2001.xsd" />
  <xs:include schemaLocation="MCRCondition.xsd" />

  <!-- predefined attribute groups -->

  <xs:attributeGroup name="supportedXlinks">
    <xs:attribute ref="xlink:href" use="required" />
    <xs:attribute ref="xlink:title" />
    <xs:attribute ref="xlink:type" use="required" fixed="locator" />
    <xs:attribute ref="xlink:label" />
    <xs:attribute ref="xlink:role" />
  </xs:attributeGroup>
  <xs:simpleType name="mycoreDate">
    <xs:union memberTypes="xs:date xs:gYear xs:gYearMonth xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="mycoreNumber">
    <xs:union memberTypes="xs:decimal xs:float xs:double" />
  </xs:simpleType>
  <xs:attributeGroup name="baseMetaAttributes">
    <xs:attribute ref="xml:lang" use="optional" />
  </xs:attributeGroup>
  <xs:attributeGroup name="notInherited">
    <xs:attribute name="inherited" type="xs:integer" fixed="0" use="optional" />
  </xs:attributeGroup>
  <xs:attributeGroup name="noInheritance">
    <xs:attribute name="heritable" type="xs:boolean" fixed="false" />
    <xs:attribute name="notinherit" type="xs:boolean" fixed="true" />
  </xs:attributeGroup>
  <xs:attributeGroup name="structureInheritance">
    <xs:attribute name="heritable" type="xs:boolean" fixed="false" use="optional" />
    <xs:attribute name="notinherit" type="xs:boolean" fixed="true" use="optional" />
  </xs:attributeGroup>
  <xs:attributeGroup name="MCRMetaLangText">
    <xs:attribute ref="xml:lang" use="optional" />
    <xs:attribute name="form" type="xs:string" use="optional" />
  </xs:attributeGroup>
  <xs:attributeGroup name="MCRMetaDateLangText">
    <xs:attribute ref="xml:lang" use="optional" />
    <xs:attribute name="form" type="xs:string" use="optional" />
    <xs:attribute name="date" type="mycoreDate" use="optional" />
    <xs:attribute name="format" type="iso8601DateFormat" use="optional" />
  </xs:attributeGroup>
  <xs:attributeGroup name="MCRMetaClassification">
    <xs:attribute name="categid" use="required" type="xs:normalizedString" />
    <xs:attribute name="classid" use="required" type="xs:NCName" />
  </xs:attributeGroup>
  <xs:attributeGroup name="MCRMetaLinkID">
    <xs:attributeGroup ref="supportedXlinks" />
  </xs:attributeGroup>
  <xs:attributeGroup name="MCRMetaLink">
    <xs:attributeGroup ref="supportedXlinks" />
  </xs:attributeGroup>
  <xs:attributeGroup name="MCRMetaDerivateLink">
    <xs:attributeGroup ref="supportedXlinks" />
  </xs:attributeGroup>
  <xs:attributeGroup name="MCRMetaXML">
    <xs:attributeGroup ref="baseMetaAttributes" />
  </xs:attributeGroup>
  <xs:attributeGroup name="MCRMetaBoolean">
    <xs:attributeGroup ref="baseMetaAttributes" />
  </xs:attributeGroup>
  <xs:attributeGroup name="MCRMetaIFS">
    <xs:attributeGroup ref="baseMetaAttributes" />
    <xs:attribute type="xs:string" use="optional" name="sourcepath" />
    <xs:attribute type="xs:string" use="required" name="maindoc" />
    <xs:attribute type="xs:string" use="optional" name="ifsid" />
  </xs:attributeGroup>
  <xs:attributeGroup name="MCRMetaISO8601Date">
    <xs:attribute name="format" type="iso8601DateFormat" />
  </xs:attributeGroup>
  <xs:attributeGroup name="MCRMetaHistoryDate">
    <xs:attribute name="format" type="historyDateFormat" />
  </xs:attributeGroup>
  <xs:attributeGroup name="MCRMetaPersonName">
    <xs:attributeGroup ref="baseMetaAttributes" />
  </xs:attributeGroup>
  <xs:attributeGroup name="MCRMetaNumber">
    <xs:attributeGroup ref="baseMetaAttributes" />
    <xs:attribute name="dimension" type="xs:string"/>
    <xs:attribute name="measurement" type="xs:string"/>
  </xs:attributeGroup>
  <xs:simpleType name="iso8601DateFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="YYYY" />
      <xs:enumeration value="YYYY-MM" />
      <xs:enumeration value="YYYY-MM-DD" />
      <xs:enumeration value="YYYY-MM-DDThh:mmTZD" />
      <xs:enumeration value="YYYY-MM-DDThh:mm:ssTZD" />
      <xs:enumeration value="YYYY-MM-DDThh:mm:ss.sTZD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="historyDateFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="YYYY" />
      <xs:enumeration value="YYYY-MM" />
      <xs:enumeration value="YYYY-MM-DD" />
    </xs:restriction>
  </xs:simpleType>

  <!-- this is how a mycore object looks like: <structure> has to be defined elsewhere <metadata> has to be defined elsewhere <service> is defined
    below -->
  <xs:element name="mycoreobject">
    <xs:complexType>
      <xs:all>
        <xs:element ref="structure" minOccurs="0" />
        <xs:element ref="metadata" />
        <xs:element ref="service" minOccurs="0" />
      </xs:all>
      <xs:attribute name="ID" use="required" type="xs:NCName" />
      <xs:attribute name="label" type="xs:string" />
      <xs:attribute name="version" type="xs:string" />
      <!-- The rev attribute ('revision') is optional. 
           It is only set on objects retrieved from a versioned metadata store.
           It will be ignored if the object is imported or updated to the store again -->
      <xs:attribute name="rev" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- hierachical objects: parent and children -->
  <xs:element name="parents">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parent" />
      </xs:sequence>
      <xs:attribute name="class" use="required" type="xs:string" fixed="MCRMetaLinkID" />
      <xs:attributeGroup ref="structureInheritance" />
    </xs:complexType>
  </xs:element>
  <xs:element name="parent">
    <xs:complexType>
      <xs:attribute name="inherited" use="optional" type="xs:integer" fixed="0" />
      <xs:attributeGroup ref="supportedXlinks" />
    </xs:complexType>
  </xs:element>
  <xs:element name="children">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="child" />
      </xs:sequence>
      <xs:attribute name="class" use="required" type="xs:string" fixed="MCRMetaLinkID" />
      <xs:attributeGroup ref="structureInheritance" />
    </xs:complexType>
  </xs:element>
  <xs:element name="child">
    <xs:complexType>
      <xs:attribute name="inherited" use="optional" type="xs:integer" fixed="0" />
      <xs:attributeGroup ref="supportedXlinks" />
    </xs:complexType>
  </xs:element>

  <!-- This is how derivates are integrated -->
  <xs:element name="derobjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="derobject" />
      </xs:sequence>
      <xs:attribute name="class" use="required" type="xs:string" fixed="MCRMetaEnrichedLinkID" />
      <xs:attributeGroup ref="structureInheritance" />
    </xs:complexType>
  </xs:element>
  <xs:element name="derobject">
    <xs:complexType>
      <xs:sequence>
        <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="inherited" use="required" type="xs:integer" fixed="0" />
      <xs:attribute name="sequence" type="xs:integer" />
      <xs:attributeGroup ref="supportedXlinks" />
    </xs:complexType>
  </xs:element>

  <!-- The service part which currently contains dates -->
  <xs:element name="service">
    <xs:complexType>
      <xs:all>
        <xs:element ref="servdates" minOccurs="0" />
        <xs:element ref="servacls" minOccurs="0" />
        <xs:element ref="servflags" minOccurs="0" />
        <xs:element ref="servmessages" minOccurs="0" />
        <xs:element ref="servclasses" minOccurs="0" />
        <xs:element ref="servstates" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="servdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="servdate" />
      </xs:sequence>
      <xs:attribute name="class" use="required" type="xs:string" fixed="MCRMetaISO8601Date" />
      <xs:attributeGroup ref="structureInheritance" />
    </xs:complexType>
  </xs:element>
  <!-- BEGIN: MCR-1148 -->
  <xs:simpleType name="servdateTypeBaseType">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="createdate" />
      <xs:enumeration value="modifydate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="servdateTypeMCRType">
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="mcr-[a-zA-Z]{1,8}:[\c-[:]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="servdateTypeExtType">
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="[a-zA-Z]{1,3}:[\c-[:]]+" />
    </xs:restriction>
  </xs:simpleType>
  <!-- END: MCR-1148 -->
  <xs:simpleType name="servdateTypeType">
    <xs:union memberTypes="servdateTypeBaseType servdateTypeMCRType servdateTypeExtType" />
  </xs:simpleType>
  <xs:element name="servdate">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="mycoreDate">
          <xs:attribute name="inherited" use="required" type="xs:integer" fixed="0" />
          <xs:attribute name="type" use="required" type="servdateTypeType" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="servacls">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="servacl" />
      </xs:sequence>
      <xs:attribute name="class" use="required" type="xs:string" fixed="MCRMetaAccessRule" />
    </xs:complexType>
  </xs:element>
  <xs:element name="servacl">
    <xs:complexType>
      <xs:sequence>
        <xs:any processContents="skip" />
      </xs:sequence>
      <xs:attribute name="permission" use="required" type="xs:string" />
      <xs:attributeGroup ref="notInherited" />
    </xs:complexType>
  </xs:element>
  <xs:element name="servflags">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="servflag" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute fixed="MCRMetaLangText" use="required" type="xs:string" name="class" />
      <xs:attribute use="optional" type="xs:boolean" name="heritable" />
      <xs:attribute use="optional" type="xs:boolean" name="notinherit" />
    </xs:complexType>
  </xs:element>
  <xs:element name="servflag">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="inherited" use="optional" type="xs:integer" fixed="0" />
          <xs:attribute name="type" type="xs:string" />
          <xs:attributeGroup ref="MCRMetaLangText" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="servmessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="servmessage" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute fixed="MCRMetaDateLangText" use="required" type="xs:string" name="class" />
      <xs:attribute use="optional" type="xs:boolean" name="heritable" />
      <xs:attribute use="optional" type="xs:boolean" name="notinherit" />
    </xs:complexType>
  </xs:element>
  <xs:element name="servmessage">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="inherited" use="optional" type="xs:integer" fixed="0" />
          <xs:attribute name="type" type="xs:string" />
          <xs:attributeGroup ref="MCRMetaDateLangText" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="servclasses">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="servclass" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute fixed="MCRMetaClassification" use="required" type="xs:string" name="class" />
      <xs:attribute use="optional" type="xs:boolean" name="heritable" />
      <xs:attribute use="optional" type="xs:boolean" name="notinherit" />
    </xs:complexType>
  </xs:element>
  <xs:element name="servclass">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="inherited" use="optional" type="xs:integer" fixed="0" />
          <xs:attribute name="type" type="xs:string" />
          <xs:attributeGroup ref="MCRMetaClassification" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="servstates">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="servstate" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute fixed="MCRMetaClassification" use="required" type="xs:string" name="class" />
      <xs:attribute use="optional" type="xs:boolean" name="heritable" />
      <xs:attribute use="optional" type="xs:boolean" name="notinherit" />
    </xs:complexType>
  </xs:element>
  <xs:element name="servstate">
    <xs:complexType>
      <xs:attribute name="inherited" use="optional" type="xs:integer" fixed="0" />
      <xs:attribute name="type" type="xs:string" />
      <xs:attributeGroup ref="MCRMetaClassification" />
    </xs:complexType>
  </xs:element>
</xs:schema>
