mycore-solr/src/main/resources/solrinputdocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="add" type="MCRSolrInputDocumentList" />

  <xs:complexType name="MCRSolrInputDocumentList">
    <xs:sequence>
      <xs:element name="doc" maxOccurs="unbounded" minOccurs="0" type="MCRSolrInputDocument" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MCRSolrInputDocument">
    <xs:sequence>
      <xs:element name="field" maxOccurs="unbounded" minOccurs="0" type="MCRSolrInputField" />
    </xs:sequence>
    <xs:attribute type="xs:ID" name="id" />
  </xs:complexType>

  <xs:complexType name="MCRSolrInputField">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:Name" name="name" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>