mycore-tei/src/main/resources/xsd/ns1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:ns1="http://www.tei-c.org/ns/1.0" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="mcrtranscr.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="p">
    <xs:annotation>
      <xs:documentation>(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.fragmentable.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="hi">
    <xs:annotation>
      <xs:documentation>(highlighted) marks a word or phrase as graphically distinct from the surrounding text, for reasons concerning which no claim is made. [3.3.2.2. Emphatic Words and Phrases 3.3.2. Emphasis, Foreign Words, and Unusual Language]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="quote">
    <xs:annotation>
      <xs:documentation>(quotation) contains a phrase or passage attributed by the narrator or author to some agency external to the text. [3.3.3. Quotation 4.3.1. Grouped Texts]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.specialPara">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.source.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="q">
    <xs:annotation>
      <xs:documentation>(quoted) contains material which is distinguished from the surrounding text using quotation marks or a similar method, for any one of a variety of reasons including, but not limited to: direct speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and passages that are mentioned but not used. [3.3.3. Quotation]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.specialPara">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.ascribed.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.source.attributes"/>
          <xs:attribute name="type">
            <xs:annotation>
              <xs:documentation>may be used to indicate whether the offset passage is spoken or thought, or to characterize it more finely.
Suggested values include: 1] spoken; 2] thought; 3] written; 4] soCalled; 5] foreign; 6] distinct; 7] term; 8] emph; 9] mentioned</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union memberTypes="xs:Name">
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="spoken">
                      <xs:annotation>
                        <xs:documentation>representation of speech</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="thought">
                      <xs:annotation>
                        <xs:documentation>representation of thought, e.g. internal monologue</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="written">
                      <xs:annotation>
                        <xs:documentation>quotation from a written source</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="soCalled">
                      <xs:annotation>
                        <xs:documentation>authorial distance</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="foreign"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="distinct">
                      <xs:annotation>
                        <xs:documentation>linguistically distinct</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="term">
                      <xs:annotation>
                        <xs:documentation>technical term</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="emph">
                      <xs:annotation>
                        <xs:documentation>rhetorically emphasized</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="mentioned">
                      <xs:annotation>
                        <xs:documentation>refering to itself, not its normal referent</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="desc">
    <xs:annotation>
      <xs:documentation>(description) contains a brief description of the object documented by its parent element, including its intended usage, purpose, or application where this is appropriate. [22.4.1. Description of Components]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.limitedContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.translatable.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="corr">
    <xs:annotation>
      <xs:documentation>(correction) contains the correct form of a passage apparently erroneous in the copy text. [3.4.1. Apparent Errors]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.editLike.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="choice">
    <xs:annotation>
      <xs:documentation>groups a number of alternative encodings for the same point in a text. [3.4. Simple Editorial Changes]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.choicePart"/>
        <xs:element ref="ns1:choice"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="add">
    <xs:annotation>
      <xs:documentation>(addition) contains letters, words, or phrases inserted in the source text by an author, scribe, or a previous annotator or corrector. [3.4.3. Additions, Deletions, and Omissions]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.transcriptional.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.placement.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="del">
    <xs:annotation>
      <xs:documentation>(deletion) contains a letter, word, or passage deleted, marked as deleted, or otherwise indicated as superfluous or spurious in the copy text by an author, scribe, or a previous annotator or corrector. [3.4.3. Additions, Deletions, and Omissions]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.transcriptional.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="date">
    <xs:annotation>
      <xs:documentation>contains a date in any format. [3.5.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.11.2.4. Imprint, Size of a Document, and Reprint Information 15.2.3. The Setting Description 13.3.6. Dates and Times]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.phrase"/>
        <xs:group ref="mathml:tei_model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.datable.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.editLike.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ref">
    <xs:annotation>
      <xs:documentation>(reference) defines a reference to another location, possibly modified by additional text or comment. [3.6. Simple Links and Cross-References 16.1. Links]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.pointing.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.internetMedia.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.cReferencing.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="head">
    <xs:annotation>
      <xs:documentation>(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. Headings and Trailers]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.phrase"/>
        <xs:group ref="mathml:tei_model.inter"/>
        <xs:group ref="mathml:tei_model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="note">
    <xs:annotation>
      <xs:documentation>contains a note or annotation. [3.8.1. Notes and Simple Annotation 2.2.6. The Notes Statement 3.11.2.8. Notes and Statement of Language 9.3.5.4. Notes within Entries]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.specialPara">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.placement.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.pointing.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.source.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
          <xs:attribute name="anchored" default="true" type="mathml:tei_data.truthValue">
            <xs:annotation>
              <xs:documentation>indicates whether the copy text shows the exact place of reference for the note.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="targetEnd">
            <xs:annotation>
              <xs:documentation>points to the end of the span to which the note is attached, if the note is not embedded in the text at that point.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction>
                <xs:simpleType>
                  <xs:list itemType="mathml:tei_data.pointer"/>
                </xs:simpleType>
                <xs:minLength value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="pb">
    <xs:annotation>
      <xs:documentation>(page break) marks the start of a new page in a paginated document. [3.10.3. Milestone
Elements]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.edition.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.spanning.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.breaking.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lb">
    <xs:annotation>
      <xs:documentation>(line break) marks the start of a new (typographic) line in some edition or version of a text. [3.10.3. Milestone
Elements 7.2.5. Speech Contents]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.edition.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.spanning.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.breaking.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="author">
    <xs:annotation>
      <xs:documentation>in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.naming.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:annotation>
      <xs:documentation>contains a title for any kind of work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.canonical.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attribute.subtype"/>
          <xs:attribute name="type" type="mathml:tei_data.enumerated">
            <xs:annotation>
              <xs:documentation>classifies the title according to some convenient typology.
Sample values include: 1] main; 2] sub(subordinate) ; 3] alt(alternate) ; 4] short; 5] desc(descriptive) </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="level">
            <xs:annotation>
              <xs:documentation>indicates the bibliographic level for a title, that is, whether it identifies an article, book, journal, series, or unpublished material.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="a">
                  <xs:annotation>
                    <xs:documentation>(analytic) the title applies to an analytic item, such as an article, poem, or other work published as part of a larger item.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="m">
                  <xs:annotation>
                    <xs:documentation>(monographic) the title applies to a monograph such as a book or other item considered to be a distinct publication, including single volumes of multi-volume works</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="j">
                  <xs:annotation>
                    <xs:documentation>(journal) the title applies to any serial or periodical publication such as a journal, magazine, or newspaper</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="s">
                  <xs:annotation>
                    <xs:documentation>(series) the title applies to a series of otherwise distinct publications such as a collection</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="u">
                  <xs:annotation>
                    <xs:documentation>(unpublished) the title applies to any unpublished material (including theses and dissertations unless published by a commercial press)</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEI">
    <xs:annotation>
      <xs:documentation>(TEI document) contains a single TEI-conformant document, containing a single TEI header, a single text, one or more members of the model.resourceLike class, or a combination of these. A series of TEI elements may be combined together to form a teiCorpus element. [4. Default Text Structure 15.1. Varieties of Composite Text]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:teiHeader"/>
        <xs:choice>
          <xs:sequence>
            <xs:group maxOccurs="unbounded" ref="mathml:tei_model.resourceLike"/>
            <xs:element minOccurs="0" ref="ns1:text"/>
          </xs:sequence>
          <xs:element ref="ns1:text"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attribute name="version" type="mathml:tei_data.version">
        <xs:annotation>
          <xs:documentation>specifies the major version number of the TEI Guidelines against which this document is valid.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:annotation>
      <xs:documentation>contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        <xs:element ref="ns1:body"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:annotation>
      <xs:documentation>(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        <xs:sequence minOccurs="0">
          <xs:group ref="mathml:tei_model.divTop"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.global"/>
            <xs:group ref="mathml:tei_model.divTop"/>
          </xs:choice>
        </xs:sequence>
        <xs:choice>
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.divLike"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.div1Like"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
            <xs:choice minOccurs="0">
              <xs:sequence maxOccurs="unbounded">
                <xs:group ref="mathml:tei_model.divLike"/>
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
              </xs:sequence>
              <xs:sequence maxOccurs="unbounded">
                <xs:group ref="mathml:tei_model.div1Like"/>
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
              </xs:sequence>
            </xs:choice>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="div">
    <xs:annotation>
      <xs:documentation>(text division) contains a subdivision of the front, body, or back of a text. [4.1. Divisions of the Body]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.divTop"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.divLike"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.divLike"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.divLike.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="div1">
    <xs:annotation>
      <xs:documentation>(level-1 text division) contains a first-level subdivision of the front, body, or back of a text. [4.1.2. Numbered Divisions]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.divTop"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.div2Like"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.div2Like"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.divLike.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="div2">
    <xs:annotation>
      <xs:documentation>(level-2 text division) contains a second-level subdivision of the front, body, or back of a text. [4.1.2. Numbered Divisions]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.divTop"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.div3Like"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.div3Like"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.divLike.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="div3">
    <xs:annotation>
      <xs:documentation>(level-3 text division) contains a third-level subdivision of the front, body, or back of a text. [4.1.2. Numbered Divisions]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.divTop"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.div4Like"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.div4Like"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.divLike.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="div4">
    <xs:annotation>
      <xs:documentation>(level-4 text division) contains a fourth-level subdivision of the front, body, or back of a text. [4.1.2. Numbered Divisions]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.divTop"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.div5Like"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.div5Like"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.divLike.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="div5">
    <xs:annotation>
      <xs:documentation>(level-5 text division) contains a fifth-level subdivision of the front, body, or back of a text. [4.1.2. Numbered Divisions]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.divTop"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.div6Like"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.div6Like"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.divLike.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="div6">
    <xs:annotation>
      <xs:documentation>(level-6 text division) contains a sixth-level subdivision of the front, body, or back of a text. [4.1.2. Numbered Divisions]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.divTop"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.div7Like"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.div7Like"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.divLike.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="div7">
    <xs:annotation>
      <xs:documentation>(level-7 text division) contains the smallest possible subdivision of the front, body or back of a text, larger than a paragraph. [4.1.2. Numbered Divisions]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.divTop"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.common"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.divLike.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="facsimile">
    <xs:annotation>
      <xs:documentation>contains a representation of some written source in the form of a set of images rather than as transcribed or encoded text. [11.1. Digital Facsimiles]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.graphicLike"/>
        <xs:element ref="ns1:surface"/>
        <xs:element ref="ns1:surfaceGrp"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourceDoc">
    <xs:annotation>
      <xs:documentation>contains a transcription or other representation of a single source document potentially forming part of a dossier génétique or collection of sources. [11.1. Digital Facsimiles 11.2.2. Embedded Transcription]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.global"/>
        <xs:group ref="mathml:tei_model.graphicLike"/>
        <xs:element ref="ns1:surface"/>
        <xs:element ref="ns1:surfaceGrp"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="surface">
    <xs:annotation>
      <xs:documentation>defines a written surface as a two-dimensional coordinate space, optionally grouping one or more graphic representations of that space, zones of interest within that space, and transcriptions of the writing within them. [11.1. Digital Facsimiles 11.2.2. Embedded Transcription]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.global"/>
          <xs:group ref="mathml:tei_model.labelLike"/>
          <xs:group ref="mathml:tei_model.graphicLike"/>
        </xs:choice>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:choice>
            <xs:element ref="ns1:zone"/>
            <xs:element ref="ns1:line"/>
            <xs:element ref="ns1:surface"/>
            <xs:element ref="ns1:surfaceGrp"/>
          </xs:choice>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.coordinated.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attribute name="attachment" type="mathml:tei_data.enumerated">
        <xs:annotation>
          <xs:documentation>describes the method by which this surface is or was connected to the main surface
Sample values include: 1] glued; 2] pinned; 3] sewn</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="flipping" type="mathml:tei_data.truthValue">
        <xs:annotation>
          <xs:documentation>indicates whether the surface is attached and folded in such a way as to provide two writing surfaces</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="surfaceGrp">
    <xs:annotation>
      <xs:documentation>defines any kind of useful grouping of written surfaces, for example the recto and verso of a single leaf, which the encoder wishes to treat as a single unit. [11.1. Digital Facsimiles]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.global"/>
        <xs:element ref="ns1:surface"/>
        <xs:element ref="ns1:surfaceGrp"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="zone">
    <xs:annotation>
      <xs:documentation>defines any two-dimensional area within a surface element. [11.1. Digital Facsimiles 11.2.2. Embedded Transcription]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.graphicLike"/>
        <xs:group ref="mathml:tei_model.global"/>
        <xs:element ref="ns1:surface"/>
        <xs:group ref="mathml:tei_model.linePart"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.coordinated.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attribute name="rotate" default="0" type="mathml:tei_data.count">
        <xs:annotation>
          <xs:documentation>indicates the amount by which this zone has been rotated clockwise, with respect to the normal orientation of the parent surface element as implied by the dimensions given in the msDesc element or by the coordinates of the surface itself. The orientation is expressed in arc degrees.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSpan">
    <xs:annotation>
      <xs:documentation>(added span of text) marks the beginning of a longer sequence of text added by an author, scribe, annotator or corrector (see also add). [11.3.1.4. Additions and Deletions]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.transcriptional.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.placement.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.spanning.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="damage">
    <xs:annotation>
      <xs:documentation>contains an area of damage to the text witness. [11.3.3.1. Damage, Illegibility, and Supplied Text]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.damaged.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="damageSpan">
    <xs:annotation>
      <xs:documentation>(damaged span of text) marks the beginning of a longer sequence of text which is damaged in some way but still legible. [11.3.3.1. Damage, Illegibility, and Supplied Text]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.damaged.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.spanning.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="delSpan">
    <xs:annotation>
      <xs:documentation>(deleted span of text) marks the beginning of a longer sequence of text deleted, marked as deleted, or otherwise signaled as superfluous or spurious by an author, scribe, annotator, or corrector. [11.3.1.4. Additions and Deletions]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.transcriptional.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.spanning.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subst">
    <xs:annotation>
      <xs:documentation>(substitution) groups one or more deletions with one or more additions when the combination is to be regarded as a single intervention in the text. [11.3.1.5. Substitutions]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="ns1:add"/>
        <xs:element ref="ns1:del"/>
        <xs:group ref="mathml:tei_model.milestoneLike"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.transcriptional.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="secl">
    <xs:annotation>
      <xs:documentation>(secluded text) Secluded. Marks text present in the source which the editor believes to be genuine but out of its original place (which is unknown). [11.3.1.7. Text Omitted from or Supplied in the Transcription]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.editLike.attributes"/>
          <xs:attribute name="reason">
            <xs:annotation>
              <xs:documentation>one or more words indicating why this text has been secluded, e.g. interpolated etc.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction>
                <xs:simpleType>
                  <xs:list itemType="mathml:tei_data.word"/>
                </xs:simpleType>
                <xs:minLength value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="line">
    <xs:annotation>
      <xs:documentation>contains the transcription of a topographic line in the source document [11.2.2. Embedded Transcription]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.global"/>
        <xs:group ref="mathml:tei_model.linePart"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.coordinated.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mod">
    <xs:annotation>
      <xs:documentation>represents any kind of modification identified within a single document. [11.3.4.1. Generic Modification]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.transcriptional.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.spanning.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="undo">
    <xs:annotation>
      <xs:documentation>indicates one or more marked-up interventions in a document which have subsequently been marked for cancellation. [11.3.4.4. Confirmation, Cancellation, and Reinstatement of Modifications]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.spanning.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.transcriptional.attributes"/>
      <xs:attribute name="target">
        <xs:annotation>
          <xs:documentation>points to one or more elements representing the interventions which are to be reverted or undone.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="mathml:tei_data.pointer"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="teiHeader">
    <xs:annotation>
      <xs:documentation>(TEI header) supplies the descriptive and declarative information making up an electronic title page for every TEI-conformant document. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:fileDesc"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.teiHeaderPart"/>
        <xs:element minOccurs="0" ref="ns1:revisionDesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attribute name="type" default="text" type="mathml:tei_data.enumerated">
        <xs:annotation>
          <xs:documentation>specifies the kind of document to which the header is attached, for example whether it is a corpus or individual text.
Sample values include: 1] text; 2] corpus</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="fileDesc">
    <xs:annotation>
      <xs:documentation>(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element ref="ns1:titleStmt"/>
          <xs:element minOccurs="0" ref="ns1:editionStmt"/>
          <xs:element ref="ns1:publicationStmt"/>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:sourceDesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:annotation>
      <xs:documentation>(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:title"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.respLike"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="editionStmt">
    <xs:annotation>
      <xs:documentation>(edition statement) groups information relating to one edition of a text. [2.2.2. The Edition Statement 2.2. The File Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="mathml:tei_model.pLike"/>
        <xs:sequence>
          <xs:element ref="ns1:edition"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.respLike"/>
        </xs:sequence>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="edition">
    <xs:annotation>
      <xs:documentation>describes the particularities of one edition of a text. [2.2.2. The Edition Statement]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationStmt">
    <xs:annotation>
      <xs:documentation>(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="mathml:tei_model.pLike"/>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourceDesc">
    <xs:annotation>
      <xs:documentation>(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="mathml:tei_model.pLike"/>
        <xs:group maxOccurs="unbounded" ref="mathml:tei_model.listLike"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declarable.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="correspAction">
    <xs:annotation>
      <xs:documentation>contains a structured description of the place, the name of a person/organization and the date related to the sending/receiving of a message or any other action related to the correspondence [2.4.6. Correspondence Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="mathml:tei_model.correspActionPart"/>
        <xs:group maxOccurs="unbounded" ref="mathml:tei_model.pLike"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attribute.subtype"/>
      <xs:attributeGroup ref="mathml:tei_att.sortable.attributes"/>
      <xs:attribute name="type">
        <xs:annotation>
          <xs:documentation>describes the nature of the action
Suggested values include: 1] sent; 2] received; 3] transmitted; 4] redirected; 5] forwarded</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="xs:Name">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="sent">
                  <xs:annotation>
                    <xs:documentation>information concerning the sending or dispatch of a message</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="received">
                  <xs:annotation>
                    <xs:documentation>information concerning the receipt of a message</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="transmitted">
                  <xs:annotation>
                    <xs:documentation>information concerning the transmission of a message, i.e. between the dispatch and the next receipt, redirect or forwarding</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="redirected">
                  <xs:annotation>
                    <xs:documentation>information concerning the redirection of an unread message </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="forwarded">
                  <xs:annotation>
                    <xs:documentation>information concerning the forwarding of a message </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="correspContext">
    <xs:annotation>
      <xs:documentation>(correspondence context) provides references to preceding or following correspondence related to this piece of correspondence [2.4.6. Correspondence Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="mathml:tei_model.correspContextPart"/>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="xenoData">
    <xs:annotation>
      <xs:documentation>(outside metadata) provides a container element into which metadata in non-TEI formats may be placed. [2.5. Non-TEI Metadata]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_macro.anyXML"/>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declarable.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="revisionDesc">
    <xs:annotation>
      <xs:documentation>(revision description) summarizes the revision history for a file. [2.6. The Revision Description 2.1.1. The TEI Header and Its Components]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.docStatus.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="app">
    <xs:annotation>
      <xs:documentation>(apparatus entry) contains one entry in a critical apparatus, with an optional lemma and usually one or more readings or notes on the relevant passage. [12.1.1. The Apparatus Entry]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.milestoneLike"/>
          <xs:group ref="mathml:tei_model.noteLike"/>
          <xs:element ref="ns1:addSpan"/>
          <xs:element ref="ns1:damageSpan"/>
          <xs:element ref="ns1:delSpan"/>
          <xs:element ref="ns1:figure"/>
          <xs:element ref="ns1:notatedMusic"/>
        </xs:choice>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns1:lem"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.milestoneLike"/>
            <xs:group ref="mathml:tei_model.noteLike"/>
            <xs:element ref="ns1:addSpan"/>
            <xs:element ref="ns1:damageSpan"/>
            <xs:element ref="ns1:delSpan"/>
            <xs:element ref="ns1:figure"/>
            <xs:element ref="ns1:notatedMusic"/>
          </xs:choice>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.milestoneLike"/>
            <xs:group ref="mathml:tei_model.noteLike"/>
            <xs:element ref="ns1:addSpan"/>
            <xs:element ref="ns1:damageSpan"/>
            <xs:element ref="ns1:delSpan"/>
            <xs:element ref="ns1:figure"/>
            <xs:element ref="ns1:notatedMusic"/>
          </xs:choice>
        </xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:sequence>
            <xs:group ref="mathml:tei_model.rdgLike"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.milestoneLike"/>
              <xs:group ref="mathml:tei_model.noteLike"/>
              <xs:element ref="ns1:addSpan"/>
              <xs:element ref="ns1:damageSpan"/>
              <xs:element ref="ns1:delSpan"/>
              <xs:element ref="ns1:figure"/>
              <xs:element ref="ns1:notatedMusic"/>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.milestoneLike"/>
              <xs:group ref="mathml:tei_model.noteLike"/>
              <xs:element ref="ns1:addSpan"/>
              <xs:element ref="ns1:damageSpan"/>
              <xs:element ref="ns1:delSpan"/>
              <xs:element ref="ns1:figure"/>
              <xs:element ref="ns1:notatedMusic"/>
            </xs:choice>
          </xs:sequence>
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.milestoneLike"/>
              <xs:group ref="mathml:tei_model.noteLike"/>
              <xs:element ref="ns1:addSpan"/>
              <xs:element ref="ns1:damageSpan"/>
              <xs:element ref="ns1:delSpan"/>
              <xs:element ref="ns1:figure"/>
              <xs:element ref="ns1:notatedMusic"/>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.milestoneLike"/>
              <xs:group ref="mathml:tei_model.noteLike"/>
              <xs:element ref="ns1:addSpan"/>
              <xs:element ref="ns1:damageSpan"/>
              <xs:element ref="ns1:delSpan"/>
              <xs:element ref="ns1:figure"/>
              <xs:element ref="ns1:notatedMusic"/>
            </xs:choice>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attribute name="type" type="mathml:tei_data.enumerated">
        <xs:annotation>
          <xs:documentation>classifies the variation contained in this element according to some convenient typology.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="from" type="mathml:tei_data.pointer">
        <xs:annotation>
          <xs:documentation>identifies the beginning of the lemma in the base text.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="to" type="mathml:tei_data.pointer">
        <xs:annotation>
          <xs:documentation>identifies the endpoint of the lemma in the base text.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="loc">
        <xs:annotation>
          <xs:documentation>(location) indicates the location of the variation, when the location-referenced method of apparatus markup is used.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="mathml:tei_data.word"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="lem">
    <xs:annotation>
      <xs:documentation>(lemma) contains the lemma, or base text, of a textual variation. [12.1. The Apparatus Entry, Readings, and Witnesses]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.divLike"/>
        <xs:group ref="mathml:tei_model.divPart"/>
        <xs:group ref="mathml:tei_model.phrase"/>
        <xs:group ref="mathml:tei_model.inter"/>
        <xs:group ref="mathml:tei_model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.textCritical.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.witnessed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdg">
    <xs:annotation>
      <xs:documentation>(reading) contains a single reading within a textual variation. [12.1. The Apparatus Entry, Readings, and Witnesses]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.divLike"/>
        <xs:group ref="mathml:tei_model.divPart"/>
        <xs:group ref="mathml:tei_model.phrase"/>
        <xs:group ref="mathml:tei_model.inter"/>
        <xs:group ref="mathml:tei_model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.textCritical.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.witnessed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="table">
    <xs:annotation>
      <xs:documentation>contains text displayed in tabular form, in rows and columns. [14.1.1. TEI Tables]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.headLike"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:choice>
          <xs:sequence maxOccurs="unbounded">
            <xs:element ref="ns1:row"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.graphicLike"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attribute name="rows" type="mathml:tei_data.count">
        <xs:annotation>
          <xs:documentation>indicates the number of rows in the table.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="cols" type="mathml:tei_data.count">
        <xs:annotation>
          <xs:documentation>(columns) indicates the number of columns in each row of the table.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="row">
    <xs:annotation>
      <xs:documentation>contains one row of a table. [14.1.1. TEI Tables]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:cell"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.tableDecoration.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cell">
    <xs:annotation>
      <xs:documentation>contains one cell of a table. [14.1.1. TEI Tables]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.specialPara">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.tableDecoration.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="formula">
    <xs:annotation>
      <xs:documentation>contains a mathematical or other formula. [14.2. Formulæ and
Mathematical Expressions]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mathml:math"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attribute name="notation" type="mathml:tei_data.enumerated">
        <xs:annotation>
          <xs:documentation>names the notation used for the content of the element.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="notatedMusic">
    <xs:annotation>
      <xs:documentation>encodes the presence of music notation in a text [14.3. Notated Music in Written Text]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.labelLike"/>
        <xs:group ref="mathml:tei_model.ptrLike"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.placement.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="figure">
    <xs:annotation>
      <xs:documentation>groups elements representing or containing graphic information such as an illustration, formula, or figure. [14.4. Specific Elements for Graphic Images]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.headLike"/>
        <xs:group ref="mathml:tei_model.common"/>
        <xs:element ref="ns1:figDesc"/>
        <xs:group ref="mathml:tei_model.graphicLike"/>
        <xs:group ref="mathml:tei_model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.placement.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="figDesc">
    <xs:annotation>
      <xs:documentation>(description of figure) contains a brief prose description of the appearance or content of a graphic figure, for use when documenting an image without displaying it. [14.4. Specific Elements for Graphic Images]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.limitedContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:group name="local">
    <xs:sequence>
      <xs:any namespace="##other" processContents="skip"/>
    </xs:sequence>
  </xs:group>
</xs:schema>
